<h1>Uploadify</h1>

<p>
  <a href="/">SWFUpload</a> | <a href="/default/uploadify">uploadify</a>
</p>

<p>Upload One restricted to 10 MB:
  <%= uploadify_form(@user, { :display_upload_indicators => true, :container_prefix => '' }, { :sizeLimit => 1310720 }) %>
</p>

<p>Upload restricted to images:
  <%= uploadify_form(@user, { :display_upload_indicators => false, :container_prefix => 'a_container_with_a_long_name' }, { :fileExt => '*.jpg', :fileDesc => 'Images' }) %>
</p>

<p>Upload With Custom Background Button and rollover:
  <%= uploadify_form(@user, { :display_upload_indicators => false, :container_prefix => 'background' }, { :buttonImg => '/images/swfupload/SWFUploadButton.png', :width => 61, :height => 22, :rollover => true }) %>
</p>